$primary-yellow: #EEC219;
$primary-pink: #BA0F6B;
$primary-orange: #FE9345;
$primary-peach: #DE4E4E;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sheila, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

p {
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.couple-name {
  font-size: 64px;
  color: $primary-pink;
  width: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // color: white;
  body {
    background-color: #ffeaea;

    .modal-container {
      width: 100%;
      height: 100vh;
      background-image: url("../img/bg-modal.jpg");
      background-size: cover;
      background-attachment: fixed;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 99;
      display: flex;
      align-items: center;
      justify-content: center;

      .modal-content {
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .couple-portrait-modal {
          width: 30%;

          img {
            width: 100%;
            border-radius: 50%;
          }
        }

        p {
          font-size: 30px;
          font-family: sheila, sans-serif;
          color: $primary-yellow;
        }

        input {
          width: 30%;
          height: 50px;
          border-radius: 50px;
          border: none;
          padding: 10px;
        }

        .in-button {
          background-color: $primary-pink;
          text-align: center;
          border-radius: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30%;
          height: 50px;
          cursor: pointer;

          p {
            font-size: 24px;
          }
        }
      }
    }

    .hero-section {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 95vh;

      p {
        font-size: 34px;
        text-align: center;
        padding: 0 20px;
        color: $primary-pink;
      }

      .bg-audio {
        display: none;
      }

      .dates {
        border-top: 3px $primary-orange solid;
        border-bottom: 3px $primary-orange solid;
        padding: 30px;
        font-family: sheila, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 34px;
        margin: 0 auto;
        color: $primary-pink;
      }
    }

    .bride-groom-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 4em;
      color: $primary-pink;

      .tag {
        font-size: 34px;
        text-align: center;
      }

      .inner-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;

        h1 {
          font-family: sheila, sans-serif;
          font-size: 84px;
        }

        h3 {
          font-family: century-gothic, sans-serif;
        }

        .bride,
        .groom {
          display: flex;
          flex-direction: column;
          width: 40%;
          padding: 50px;

          img {
            width: 100%;
            border-radius: 40%;
          }
        }
      }
    }

    .invitation-section {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 50px;
      color: $primary-pink;

      h1 {
        font-size: 54px;
        margin-bottom: 30px;
      }

      p {
        width: 80%;
        text-align: center;
        margin: auto;
        font-size: 34px;
        margin-bottom: 30px;
      }

      .reception-dates {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
        height: 100px;

        .line {
          height: 2px;
          background-color: $primary-orange;
          width: 25%;
        }

        .dates {
          font-family: sheila,sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: 48px;
        }
      }

      .reception-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        width: 60%;
        background-color: $primary-pink;
        border-radius: 50px;
        color: #ffeaea;

        img {
          width: 10%;
          margin-bottom: 50px;
        }

        h2, h3 {
          font-family: century-gothic, sans-serif;
        }

        p {
          background-color: $primary-yellow;
          font-size: 20px;
          padding: 20px;
          margin: 20px;
          width: 50%;
          border-radius: 50px;
          margin-top: 50px;

          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }

    .image-slider-section {
      position: relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;

      .slider-container {
        position: absolute;
        width: 300%;
        top: 0;
        left: 0;
        overflow: hidden;
        animation: slider 26s infinite;

        .slide {
          position: relative;
          width: 33.33333333%;
          height: 100%;
          float: left;
          overflow: hidden;

          img {
            display: block;
            width: 100%;
          }
        }
      }
    }

    .countdown-section {
      width: 100%;
      height: 100%;
      color: $primary-pink;

      h1 {
        font-size: 54px;
      }

      p {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-size: 34px;
      }

      .inner-section {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;

        .left {
          width: 50%;

          img {
            width: 100%;
            border-radius: 50px;
          }
        }

        .right {
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          .timer {
            font-size: 3em;
            font-weight: 100;

            div {
              display: inline-block;
              font-family: century-gothic, sans-serif;
              margin: 20px;

              span {
                display: block;
                font-size: 0.35em;
                font-weight: 400;
                font-family: century-gothic, sans-serif;
              }
            }
          }
        }
      }
    }

    .gallery-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;

        div {
          width: 100%;
        }

        img {
          width: 100%;
          padding: 20px;
          border-radius: 50px;
        }
      }
    }

    .footer-section {
      width: 100%;
      height: 100px;
      background-color: $primary-orange;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      h1 {
        font-family: century-gothic, sans-serif;
        font-size: 20px;
      }

      .designer-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 15%;

        img {
          width: 50px;
        }
      }

      .social-icons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 30%;

        a {
          display: flex;
          justify-content: center;

          img {
            width: 20%;
          }
        }
      }
    }
  }
}
@keyframes slider {
  0%,
  100%,
  25% {
    left: 0;
  }

  30%,
  55% {
    left: -100%;
  }

  60%,
  85% {
    left: -200%;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .couple-portrait-modal {
    width: 80% !important;
  }

  .in-button,
  input {
    width: 60% !important;
  }

  .hero-section {
    p {
      font-size: 20px !important;
    }
  }

  .bride-groom-section {
    .tag {
      font-size: 20px !important;
      margin-bottom: 20px;
    }

    .inner-section {
      flex-direction: column;

      .bride,
      .groom {
        width: 100% !important;
        padding: 0 !important;
        margin-bottom: 20px;

        img {
          border-radius: 20% !important;
        }
      }
    }
  }

  .invitation-section {
    h1 {
      font-size: 34px !important;
    }
    p {
      width: 100% !important;
      font-size: 20px !important;
    }

    .reception-dates {
      width: 100% !important;

      .dates {
        font-size: 20px !important;
        text-align: center;
      }
    }

    .reception-details {
      width: 100% !important;

      img {
        width: 30% !important;
      }

      p {
        background-color: $primary-yellow;
        font-size: 14px !important;
        padding: 10px !important;
        margin: 20px;
        width: 80% !important;
        border-radius: 50px;
      }
    }
  }

  .image-slider-section {
    height: 30vh !important;
  }

  .countdown-section {

    h1 {
      font-size: 34px !important;
    }
    p {
      width: 80% !important;
      font-size: 20px !important;
    }

    .inner-section {
      flex-direction: column;
      width: 100% !important;
      height: 60vh !important;
      padding: 0 !important;

      .left {
        width: 70% !important;
      }

      .right {
        width: 100% !important;

        .timer {
          font-size: 2em !important;
        }
      }
    }
  }

  .gallery-section {
    .row {
      flex-direction: column;
      width: 90% !important;
    }
  }

  .footer-section {
    flex-direction: column;
    height: 150px !important;

    .designer-details {
      width: 50% !important;
    }

    .social-icons {
      width: 80% !important;
      a {
        img {
          width: 25% !important;
        }
      }
    }
  }
}
